/logs/
/.idea/
/uscinema-api/src/main/resources/application-dev.yml
/uscinema-api/src/main/resources/application-prod.yml
/uscinema-api/target/
/uscinema-common/target/
/uscinema-mapper/target/
/uscinema-pojo/target/
/uscinema-service/target/
.DS_Store
/src/.DS_Store
/uscinema-api/.DS_Store
/uscinema-api/src/.DS_Store
/uscinema-api/src/main/.DS_Store
/uscinema-api/src/main/java/.DS_Store
/uscinema-api/src/main/java/com/.DS_Store
/uscinema-api/src/main/java/com/ushill/.DS_Store
/uscinema-api/src/main/java/com/ushill/controller/.DS_Store
/uscinema-api/src/main/java/com/ushill/controller/v1/.DS_Store
/uscinema-common/.DS_Store
/uscinema-mapper/.DS_Store
/uscinema-pojo/.DS_Store
/uscinema-service/.DS_Store